<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{add_product_income.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1 th:text="#{add_product_income.header}"></h1>

    <form th:action="@{/add/add-product-income}" method="post" th:object="${productIncomeForm}">
        <span th:text="#{add_product_income.order_number}"></span>
        <input type="text" th:field="*{orderNumber}"></input><br/>
        <span th:text="#{add_product_income.date}"></span>
        <input type="text" th:field="*{date}"></input><br/>
        <span th:text="#{add_product_income.quantity}"></span>
        <input type="text" th:field="*{quantity}"></input><br/>
        <span th:text="#{add_product_income.product}"></span>
        <select th:field="*{productId}">
            <option th:each="prod: ${products}" th:value="${{prod.id}}" th:text="${prod.productName}"></option>
        </select><a th:href="@{/add/add-product}" th:text="#{add_product_income.add_product}"></a><br/>
        <span th:text="#{add_product_income.supplier}"></span>
        <select th:field="*{supplierId}">
            <option th:each="supplier: ${suppliers}" th:value="${{supplier.id}}"
                    th:text="${supplier.name}"></option>
        </select><a th:href="@{/add/add-supplier}" th:text="#{add_product_income.add_supplier}"></a><br/>
        <span th:text="#{add_product_income.user}"></span>
        <select th:field="*{userId}">
            <option th:value="1" th:text="User"></option>
        </select><br/>
        <input type="submit" th:value="#{add_product_income.submit}"></input><a th:href="@{/}"><button
            th:text="#{add_product_income.back}"></button></a>
    </form>

</body>
</html>