<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Add product type</h1>

    <form th:action="@{/add/add-product-type}" method="post" th:object="${productTypeForm}">
        Product type name:
        <input type="text" th:field="*{name}"></input><br/>
        <input type="submit" value="submit"></input>
    </form>
</body>
</html>