<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{add_product.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1 th:text="#{add_product.header}"></h1>

    <form th:action="@{/add/add-product}" method="post" th:object="${productForm}">

        <span th:text="#{add_product.product_type}"></span>
        <select th:field="*{productTypeId}">
            <option th:each="type: ${productTypes}" th:value="${{type.id}}" th:text="${type.name}"></option>
        </select><a th:href="@{/add/add-product-type}" th:text="#{add_product.add_product_type}"></a><br/>
        <span th:text="#{add_product.product_name}"></span>
        <input type="text" th:field="*{name}"></input><br/>
        <span th:text="#{add_product.price}"></span>
        <input type="text" th:field="*{price}"></input><br/>
        <input type="submit" th:value="#{add_product.submit}"></input>
    </form>
    <a th:href="@{/add/}"><button th:text="#{add_product.back}"></button></a>

</body>
</html>