<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{add_product_type.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1 th:text="#{add_product_type.header}"></h1>

    <form th:action="@{/add/add-product-type}" method="post" th:object="${productTypeForm}">
        <span th:text="#{add_product_type.product_type_name}"></span>
        <input type="text" th:field="*{name}"></input><br/>
        <input type="submit" th:value="#{add_product_type.submit}"></input>
        <a th:href="@{/add/}"><button th:text="#{add_product_type.back}"></button></a>
    </form>
</body>
</html>